body {
  text-align: left;
  background-color: aliceblue;
}
form {
  font-size: 45;
  color: dimgrey;
}
h2 {
  font size: 30
  color:

}
#header{
  font size: 45
  text-align: center;
  color: MidnightBlue;
  text-decoration: underline;
  text-align: center;

}
#footer{
  font size: 45
  text-align: center;
  color: MidnightBlue;
  text-decoration: underline;
  text-align: left;
}
